/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: GothamPro;
  src: local("GothamPro"), url(./fonts/GothamProRegular.woff) format("woff"), url(./fonts/GothamProRegular.ttf) format("truetype");
  font-weight: normal;
  font-display: swap; }

@font-face {
  font-family: GothamPro;
  src: local("GothamPro-Light"), url(./fonts/GothamProLight.woff) format("woff"), url(./fonts/GothamProLight.ttf) format("truetype");
  font-weight: 300;
  font-display: swap; }

@font-face {
  font-family: DINPro;
  src: local("DINPro-Bold"), url(./fonts/DINProBold.woff) format("woff"), url(./fonts/DINProBold.otf) format("opentype"), url(./fonts/DINProBold.ttf) format("truetype");
  font-weight: bold;
  font-display: swap; }

@font-face {
  font-family: DINPro;
  src: local("DINPro-Light"), url(./fonts/DINProLight.woff) format("woff"), url(./fonts/DINProLight.otf) format("opentype"), url(./fonts/DINProLight.ttf) format("truetype");
  font-weight: 300;
  font-display: swap; }

@font-face {
  font-family: DINPro;
  src: local("DINPro-Regular"), url(./fonts/DINProRegular.woff) format("woff"), url(./fonts/DINProRegular.otf) format("opentype"), url(./fonts/DINProRegular.ttf) format("truetype");
  font-weight: 300;
  font-display: swap; }

:root {
  background-color: white; }

html,
body {
  min-height: 100%;
}

body {
  font-family: GothamPro, Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  font-style: normal;
  font-stretch: normal;
  color: black; }

h1,
h2 {
  font-family: DINPro, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
}



.clearfix::after {
  content: '';
  display: block;
  clear: both; }

header {
  height: 75px; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-logo {
  display: block;
  margin-top: 22px; }
  .header-logo img {
    display: block; }

.header-menu .menu {
  margin-top: 28px; }

.header-auth {
  margin-top: 23px;
  font-size: 10px; }

.header-contacts {
  position: relative; }
  .header-contacts::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background-color: #64b357; }
  .header-contacts__tel {
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-size: 12px;
    margin-top: 28px;
    color: black; }
  .header-contacts__soc {
    margin-top: 20px;
    font-size: 0; }
    .header-contacts__soc a {
      display: inline-block;
      vertical-align: middle; }
      .header-contacts__soc a + a {
        margin-left: 9px; }
      .header-contacts__soc a:hover svg,
      .header-contacts__soc a:active svg {
        fill: #64b357; }
    .header-contacts__soc svg {
      width: 12px;
      height: 12px;
      fill: #231f20; }

.page-header {
  position: relative;
  height: 516px;
  margin-bottom: 132px; }
  .page-header::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 550px;
    margin-top: 113px;
    margin-left: -1px;
    width: 12px;
    height: 19px;
    background: -webkit-linear-gradient(top, transparent 32%, #252525 32%, #252525 47%, transparent 47%), -webkit-linear-gradient(left, transparent 42%, #252525 42%, #252525 58%, transparent 58%);
    background: linear-gradient(to bottom, transparent 32%, #252525 32%, #252525 47%, transparent 47%), linear-gradient(to right, transparent 42%, #252525 42%, #252525 58%, transparent 58%); }
  .page-header::after {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    left: 550px;
    right: -9999px;
    margin-top: 120px;
    height: 1px;
    background-color: #252525; }
  .page-header__img {
    display: block;
    width: 550px;
    height: 516px;
    -o-object-fit: cover;
       object-fit: cover; }
  .page-header__title {
    position: absolute;
    bottom: 223px;
    left: 430px;
    padding: 29px 56px 20px 56px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 60px;
    line-height: 1; }
  .page-header__text {
    position: absolute;
    top: 308px;
    left: 608px;
    width: 502px;
    color: #878787;
    font-size: 27px;
    line-height: 1.33;
    font-weight: 300;
    text-transform: uppercase; }

.page-content {
  padding-top: 67px;
  width: 940px; }
  .page-content__article {
    position: relative;
    margin-bottom: 67px;
    padding-top: 40px; }
    .page-content__article h2 {
      margin-bottom: 43px;
      font-size: 24px;
      color: #252525; }
    .page-content__article p {
      max-width: 540px;
      margin-bottom: 30px;
      line-height: 2;
      color: #878787; }
      .page-content__article p.side {
        position: absolute;
        right: 0;
        bottom: 60px;
        width: 300px;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 36px;
        font-weight: 300; }
  .page-content__video {
    margin-top: 50px; }


  .footer-content .menu {
    float: left; }

.footer-contacts {
  float: right; }
  .footer-contacts__soc {
    margin-top: 10px;
    font-size: 0;
    text-align: right; }
    .footer-contacts__soc a {
      display: inline-block;
      vertical-align: middle; }
      .footer-contacts__soc a + a {
        margin-left: 9px; }
      .footer-contacts__soc a:hover svg,
      .footer-contacts__soc a:active svg {
        fill: #64b357; }
    .footer-contacts__soc svg {
      width: 12px;
      height: 12px;
      fill: #231f20; }

  .footer-info__copyright span {
    display: block; }


.categories {
  margin-bottom: 45px;
  position: relative;
  padding: 25px 0;
  background-color: #f9f9f9;
}
  .categories::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 9999px;
    background-color: #f9f9f9; }
  .categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: hidden;
  }
  .categories__item {
    text-align: center;
    font-size: 12px;
    color: #252525;
    text-transform: uppercase;
    text-decoration: none;
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal; }
    .categories__item.is-active, .categories__item:hover {
      color: #64b357; }
      .categories__item.is-active svg, .categories__item:hover svg {
        stroke-width: 2; }
    .categories__item svg {
      display: block;
      margin: 0 auto 20px;
      width: 60px;
      height: 60px; }

a {
  color: black;
  text-decoration: underline; }
  a:hover, a:active {
    text-decoration: none; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"] {
  border: none;
  border-bottom: 1px solid #252525;
  box-shadow: none;
  border-radius: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-clip: padding-box;
  background-color: transparent;
  text-align: left;
  box-sizing: border-box;
  padding: 0;
  vertical-align: middle;
  width: 100%;
  height: 32px;
  font: inherit;
  font-size: 15px;
  line-height: 2;
  color: #878787; }

.form-row {
  position: relative;
  margin-bottom: 28px; }
  .form-row::after {
    content: '';
    display: block;
    clear: both; }
  .form-row > * {
    float: left; }
  .form-row .label {
    min-height: 1px;
    width: 100px;
    line-height: 32px;
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase; }
    .form-row .label + .input {
      width: calc(100% - 100px); }
    .form-row .label.big {
      width: 190px; }
      .form-row .label.big + .input {
        width: calc(100% - 190px); }
  .form-row .input-short {
    width: 220px !important; }
  .form-row .input-tip {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 32px;
    font-size: 10px;
    color: #252525; }

.form-row-buttons {
  padding-top: 32px; }

.radio + .radio {
  margin-left: 22px; }

.radio input[type="radio"] {
  display: none; }
  .radio input[type="radio"]:checked + span {
    color: #252525; }

.radio span {
  display: inline-block;
  color: #878787;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #252525; }

.checkbox input[type="checkbox"] {
  display: none; }
  .checkbox input[type="checkbox"]:checked + span::before {
    background-position: 0 -12px; }

.checkbox span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
  font-size: 15px;
  line-height: 2;
  color: #878787; }
  .checkbox span::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 12px;
    height: 12px;
    background: url(./images/checkboxes.png) no-repeat 0 0; }

textarea {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  background-color: transparent;
  background: -webkit-linear-gradient(top, transparent 41px, #d8d8d8 41px, #d8d8d8 42px, transparent 42px, transparent 83px, #d8d8d8 83px, #d8d8d8 84px, transparent 84px, transparent 125px, #d8d8d8 125px, #d8d8d8 126px, transparent 126px);
  background: linear-gradient(to bottom, transparent 41px, #d8d8d8 41px, #d8d8d8 42px, transparent 42px, transparent 83px, #d8d8d8 83px, #d8d8d8 84px, transparent 84px, transparent 125px, #d8d8d8 125px, #d8d8d8 126px, transparent 126px);
  width: 100%;
  font: inherit;
  line-height: 42px;
  height: 126px;
  color: #878787; }

button,
input[type="button"],
[role="button"],
.button,
.button-white {
  display: inline-block;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  /* cursor: default; */
  cursor: pointer;
  height: 60px;
  background-color: #64b357;
  color: white;
  font: inherit;
  font-size: 15px;
  font-family: DINPro, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  padding: 0 20px;
  min-width: 220px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  line-height: normal;
  outline: none;
  text-transform: uppercase;
}
  button:hover,
  input[type="button"]:hover,
  [role="button"]:hover,
  .button:hover,
  .button-white:hover {
    background: #84c37a;
  }

a.button, a.button-white {
  line-height: 60px;
  cursor: pointer; }

.button-white {
  background-color: white;
  color: #252525;
  border: 1px solid #252525; }

.popup-opened {
  overflow: hidden;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.8); }
  .popup.is-active {
    display: block; }
    .popup.is-active .popup-container {
     min-height: 300px;

      -webkit-transform: translateX(0%);
              transform: translateX(0%); }

.popup-container {
  position: relative;
  border: 1px solid #252525;
  border-left: none;
  margin: 50px 170px 0 0;
  background-color: white;
  padding: 56px 60px;
  text-align: right;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  will-change: transform; }
  .popup-container.popup-container-right {
    border: 1px solid #252525;
    border-right: none;
    margin: 50px 0 0 170px;
    text-align: left;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
    .popup-container.popup-container-right .popup-close {
      left: -60px; }
      .popup-container.popup-container-right .popup-close::before {
        top: 100%; }

.popup-close {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -30px;
  margin-left: -80px;
  padding: 20px 28px;
  box-sizing: border-box;
  text-align: left;
  width: 220px;
  height: 60px;
  border: 1px solid #252525;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: DINPro, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
  color: #252525;
  text-transform: uppercase;
  cursor: pointer;
  background: url(./images/popup-close.png) no-repeat 157px 12px white; }
  .popup-close::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white; }

.popup-content {
  display: inline-block;
  vertical-align: top;
  width: 880px;
  text-align: left;
  overflow-y: auto; }
  .popup-content h2 {
    margin-bottom: 98px;
    font-size: 60px;
    color: #252525; }

.select-cont {
  position: relative;
  display: inline-block; }
  .select-cont .select {
    position: relative;
    display: inline-block;
    border: 1px solid #252525;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 42px 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal; }
    .select-cont .select::after {
      content: '';
      position: absolute;
      top: 0;
      right: 29px;
      bottom: 0;
      width: 1px;
      background-color: #252525; }
    .select-cont .select::before {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      width: 10px;
      height: 9px;
      background: url(./images/arrow_select.png) no-repeat 0 0; }
    .select-cont .select.active ~ .select-menu {
      display: block; }
  .select-cont .select-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    border: 1px solid #252525;
    border-top: none;
    text-align: left;
    background-color: #f9f9f9; }
    .select-cont .select-menu__item {
      display: block;
      line-height: 1.2;
      padding: 5px 10px;
      cursor: pointer; }
    .select-cont  a.select-menu__item  {
       text-decoration: none; 
     }
      .select-cont .select-menu__item:hover {
        color: white;
        background-color: #64b357; }

.main-slider {
  position: relative;
  height: 516px;
}
  .main-slider__image {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -150px;
    height: 100%;
    width: calc(50% + 150px);
    z-index: -1; }
    .main-slider__image img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }
  .main-slider__cont {
    position: relative;
  }
  .main-slider__dots {
    position: absolute;
    top: 60px;
    left: 0;
    font-size: 0; }
  .main-slider__dot {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    background: url(./images/checkboxes.png) no-repeat 0 0; }
    .main-slider__dot.is-active {
      background-position: 0 -12px; }
    .main-slider__dot + .main-slider__dot {
      margin-left: 12px; }
  .main-slider__text {
    width: 730px;
    padding-top: 66px; }
    .main-slider__text-block {
      padding-top: 45px;
      background: rgba(255, 255, 255, 0.5);
      height: 450px; }
      .main-slider__text-block h2 {
        position: relative;
        width: 600px;
        font-size: 60px;
        color: #252525;
        text-transform: none; }
        .main-slider__text-block h2::before {
          content: '';
          position: absolute;
          top: 100%;
          left: 100%;
          margin-top: 44px;
          margin-left: -6px;
          width: 12px;
          height: 19px;
          background: -webkit-linear-gradient(top, transparent 32%, #252525 32%, #252525 47%, transparent 47%), -webkit-linear-gradient(left, transparent 42%, #252525 42%, #252525 58%, transparent 58%);
          background: linear-gradient(to bottom, transparent 32%, #252525 32%, #252525 47%, transparent 47%), linear-gradient(to right, transparent 42%, #252525 42%, #252525 58%, transparent 58%); }
        .main-slider__text-block h2::after {
          content: '';
          position: absolute;
          display: block;
          top: 100%;
          left: 0;
          right: 0;
          margin-top: 51px;
          height: 1px;
          background-color: #252525; }
      .main-slider__text-block p {
        padding-top: 50px;
        width: 400px;
        font-size: 21px;
        line-height: 34px;
        font-weight: 300;
        color: #878787; }

.main-programs {
  margin-top: 110px; }
  .main-programs::after {
    content: '';
    display: block;
    clear: both; }
  .main-programs h2 {

  }
  .main-programs__blocks {
    position: relative;
    padding: 25px 0;
    background-color: #f9f9f9;
  }
    .main-programs__blocks::after {
      content: '';
      display: block;
      clear: both; }
    .main-programs__blocks::before {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 9999px;
      background-color: #f9f9f9; }
  .main-programs__block {
    position: relative;
    display: block;
    float: left;
    height: 200px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal; }
    .main-programs__block::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 140px;
      margin-top: -80px;
      margin-left: -70px;
      height: 1px;
      background-color: #64b357; }
    .main-programs__block:hover svg {
      stroke-width: 2; }
    .main-programs__block svg {
      display: block;
      margin: 30px auto 60px;
      width: 57px;
      height: 60px;
    }

.idea-advantages {
  padding-top: 11px; }
  .idea-advantages__item {
    display: block;
    position: relative;
    width: 300px;
    height: 150px;
    float: left;
    margin: 0 20px 20px 0;
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #252525;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center; }
    .idea-advantages__item:hover, .idea-advantages__item:active {
      color: #64b357; }
    .idea-advantages__item:nth-child(3n) {
      margin-right: 0; }
    @supports (display: flex) {
      .idea-advantages__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .idea-advantages__item img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      z-index: -1; }
    .idea-advantages__item span {
      max-width: 250px; }

.zakaz-text {
  margin-bottom: 49px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  color: #878787; }

.zakaz-buttons {
  font-size: 0; }
  .zakaz-buttons * + * {
    margin-left: 30px; }

.zakaz-login {
  width: 700px; }
  .zakaz-login__head {
    padding-top: 8px; }
    .zakaz-login__head h3 {
      font-family: DINPro, Arial, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      display: inline-block;
      font-size: 24px;
      text-transform: uppercase;
      color: #252525; }
    .zakaz-login__head a {
      float: right;
      line-height: 24px;
      font-size: 10px; }
  .zakaz-login__form {
    margin-top: 45px; }

.zakaz-forgot {
  float: right;
  font-size: 10px; }

.zakaz-text-recover {
  margin-top: 47px;
  margin-bottom: -8px; }

.zakaz-required {
  display: block;
  font-family: GothamPro, Arial, sans-serif;
  text-transform: none;
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  color: #878787; }

.zakaz-table {
  margin-top: 13px;
  width: 100%; }
  .zakaz-table tr {
    border-bottom: 1px solid #d8d8d8; }
  .zakaz-table td {
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    padding: 50px 0 25px;
    color: #252525; }
  .zakaz-table td:first-child {
    text-transform: uppercase; }
  .zakaz-table td:nth-child(2) {
    font-weight: normal; }
  .zakaz-table td:last-child {
    font-size: 24px;
    color: #64b357;
    text-align: right; }

.zakaz-comments {
  margin-top: 110px;
  margin-bottom: 33px; }
  .zakaz-comments span {
    float: right;
    font-size: 10px;
    line-height: 28px;
    color: #878787; }

.zakaz-total {
  margin-top: 115px;
  border-bottom: 1px solid #252525;
  padding-bottom: 20px; }
  .zakaz-total::after {
    content: '';
    display: block;
    clear: both; }
  .zakaz-total h3 {
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    color: #252525; }
  .zakaz-total__sum {
    float: right;
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-weight: normal;
    font-size: 60px;
    color: #64b357; }

.zakaz-pay {
  margin-top: 30px; }
  .zakaz-pay span {
    font-size: 10px;
    color: #878787; }
  .zakaz-pay .button, .zakaz-pay .button-white {
    float: right;
    width: 184px; }

.cabinet-head {
  margin-bottom: 27px; }
  .cabinet-head::after {
    content: '';
    display: block;
    clear: both; }
  .cabinet-head h1 {
    display: inline-block;
    vertical-align: middle; }
  .cabinet-head__buttons {
    float: right;
    margin-right: 110px;
    line-height: 70px;
    font-size: 0; }
    .cabinet-head__buttons .button-white {
      vertical-align: middle;
      height: 30px;
      line-height: 30px;
      min-width: 78px;
      font-size: 12px; }
      .cabinet-head__buttons .button-white.is-active {
        border-color: #64b357; }
      .cabinet-head__buttons .button-white + .button-white {
        margin-left: 29px; }

.cabinet-form {
  margin-bottom: 74px; }

.cabinet-subscribe {
  margin-bottom: 34px; }

.cabinet-orders {
  width: 780px; }
  .cabinet-orders h2 {
    margin-bottom: 19px; }

.cabinet-orders-table {
  font-family: DINPro, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #252525; }
  .cabinet-orders-table__item::after {
    content: '';
    display: block;
    clear: both; }
  .cabinet-orders-table__item.is-active .cabinet-orders-table__subtable {
    display: block; }
  .cabinet-orders-table__item.is-active .cabinet-orders-table__cell:last-child span {
    display: none; }
  .cabinet-orders-table__item.is-active .cabinet-orders-table__cell:last-child .cabinet-orders-table__buttons {
    display: block; }
  .cabinet-orders-table__head {
    text-transform: uppercase; }
    .cabinet-orders-table__head .cabinet-orders-table__row {
      border-bottom: 1px solid #252525; }
  .cabinet-orders-table__body .cabinet-orders-table__row {
    border-bottom: 1px solid #d8d8d8; }
  .cabinet-orders-table__body .cabinet-orders-table__cell:nth-child(2) {
    font-weight: normal; }
  .cabinet-orders-table__body .cabinet-orders-table__cell:nth-child(3) {
    color: #64b357;
    font-size: 24px;
    line-height: 32px; }
  .cabinet-orders-table__body .cabinet-orders-table__row:hover .cabinet-orders-table__cell:last-child span {
    display: none; }
  .cabinet-orders-table__body .cabinet-orders-table__row:hover .cabinet-orders-table__cell:last-child .cabinet-orders-table__buttons {
    display: block; }
  .cabinet-orders-table__row {
    padding: 52px 0 17px; }
    .cabinet-orders-table__row::after {
      content: '';
      display: block;
      clear: both; }
  .cabinet-orders-table__cell {
    float: left; }
    .cabinet-orders-table__cell:nth-child(1) {
      width: 30%; }
    .cabinet-orders-table__cell:nth-child(2) {
      width: 35%; }
    .cabinet-orders-table__cell:nth-child(3) {
      text-align: right;
      width: 35%; }
  .cabinet-orders-table__buttons {
    display: none;
    font-size: 0;
    height: 32px; }
    .cabinet-orders-table__buttons .button, .cabinet-orders-table__buttons .button-white,
    .cabinet-orders-table__buttons .button-white {
      font-size: 12px;
      height: 30px;
      line-height: 30px;
      min-width: 0; }
    .cabinet-orders-table__buttons .button-white {
      margin-left: 29px;
      border-color: #e3e3e3;
      background-color: #e3e3e3; }
  .cabinet-orders-table__subtable {
    display: none;
    width: 720px;
    float: right;
    line-height: 32px; }
    .cabinet-orders-table__subtable .cabinet-orders-table__row {
      padding: 20px 0; }
    .cabinet-orders-table__subtable .cabinet-orders-table__cell {
      float: left; }
      .cabinet-orders-table__subtable .cabinet-orders-table__cell:nth-child(1) {
        width: 65%; }
      .cabinet-orders-table__subtable .cabinet-orders-table__cell:nth-child(2) {
        width: 15%; }
      .cabinet-orders-table__subtable .cabinet-orders-table__cell:nth-child(3) {
        text-align: right;
        width: 20%;
        color: #252525; }
  .cabinet-orders-table__total {
    padding: 30px 0; }
    .cabinet-orders-table__total .cabinet-orders-table__cell {
      float: left;
      font-size: 24px;
      line-height: 30px; }
      .cabinet-orders-table__total .cabinet-orders-table__cell:nth-child(1) {
        width: 65%;
        text-transform: uppercase; }
      .cabinet-orders-table__total .cabinet-orders-table__cell:nth-child(2) {
        width: 35%;
        text-align: right;
        color: #64b357;
        font-weight: bold; }

.contacts-blocks {
  position: relative;
  height: 206px;
  margin: 60px 110px 0;
  background-color: #f9f9f9; }
  .contacts-blocks::after {
    content: '';
    display: block;
    clear: both; }
  .contacts-blocks::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 9999px;
    background-color: #f9f9f9;
    margin: auto; }
  .contacts-blocks__item {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #252525;
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-size: 24px; }
    .contacts-blocks__item:nth-child(1)::after, .contacts-blocks__item:nth-child(2)::after {
      content: '';
      position: absolute;
      left: 100%;
      width: 1px;
      height: 100%;
      background-color: #64b357; }
    .contacts-blocks__item:nth-child(1)::after {
      top: 30px; }
    .contacts-blocks__item:nth-child(2)::after {
      top: -30px; }
    .contacts-blocks__item a + a {
      margin-left: 18px; }

.contacts-form {
  width: 744px;
  margin-top: 120px;
  margin-left: 110px; }

.basket-container {
  padding-left: 52px; }

.basket-list {
  margin-top: 30px;
  margin-bottom: 98px; }

.basket-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 61px; }
  .basket-item__remove {
    position: absolute;
    top: 100%;
    left: -52px;
    width: 118px;
    height: 23px;
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    font-size: 0;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    background: url(./images/close.png) no-repeat 100% 0;
    cursor: pointer; }
    .basket-item__remove:hover {
      font-size: 15px;
      background-position: 100% -22px; }
  .basket-item__image {
    margin-right: 29px;
    border: 1px solid #252525;
    width: 117px;
    height: 117px; }
    .basket-item__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  .basket-item__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-bottom: 1px solid #d8d8d8;
    color: #252525; }
    .basket-item__content::after {
      content: '';
      display: block;
      clear: both; }
  .basket-item__value {
    float: left; }
    .basket-item__value:nth-child(1) {
      width: 300px;
      font-family: DINPro, Arial, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      text-transform: uppercase; }
    .basket-item__value:nth-child(2) {
      width: 150px; }
    .basket-item__value:nth-child(3) {
      width: 110px; }
    .basket-item__value:last-child {
      float: right;
      font-family: DINPro, Arial, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      font-size: 24px;
      color: #64b357; }
  .basket-item__count {
    height: 20px !important;
    line-height: 20px !important;
    width: 61px !important;
    text-align: center !important; }
    .basket-item__count-minus, .basket-item__count-plus {
      display: inline-block;
      vertical-align: middle;
      width: 17px;
      height: 17px;
      background-repeat: no-repeat;
      background-position: 0 0;
      cursor: pointer; }
    .basket-item__count-minus {
      background-image: url(./images/minus.png); }
    .basket-item__count-plus {
      background-image: url(./images/plus.png); }

.basket-total {
  float: right;
  width: 668px;
  height: 80px;
  border-bottom: 1px solid #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .basket-total span:first-child {
    font-size: 24px;
    color: #252525;
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase; }
  .basket-total span:last-child {
    font-family: DINPro, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: #64b357; }

.basket-button {
  margin-top: 30px;
  float: right; }

h1 {
  font-family: DINPro;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  color: #252525; }

.inner-page {
  padding-top: 48px; }

.bl_partner_item {
  float: left;
  width: 33.3333%;
  height: 300px;
  position: relative;
  border-top: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.bl_partner_item:nth-child(3n+3) {
  border-right: 0; }

.bl_partner_item:first-child, .bl_partner_item:first-child + .bl_partner_item, .bl_partner_item:first-child + .bl_partner_item + .bl_partner_item {
  border-top: 0; }

.bl_partner_item:first-child:before, .bl_partner_item:first-child + .bl_partner_item:before, .bl_partner_item:first-child + .bl_partner_item + .bl_partner_item:before {
  display: none; }

.bl_partner_item img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.bl_partner_item::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -7px;
  width: 13px;
  height: 19px;
  background: -webkit-linear-gradient(top, transparent 32%, #d4d4d4 32%, #d4d4d4 47%, transparent 47%), -webkit-linear-gradient(left, transparent 42%, #d4d4d4 42%, #d4d4d4 58%, transparent 58%);
  background: linear-gradient(to bottom, transparent 32%, #d4d4d4 32%, #d4d4d4 47%, transparent 47%), linear-gradient(to right, transparent 42%, #d4d4d4 42%, #d4d4d4 58%, transparent 58%); }

.bl_partner_item:nth-child(3n+3):before {
  display: none; }

.order_step {
  position: relative; }

.order_step + .order_step {
  margin-top: 30px; }

.order_step p {
  background: #f8f8f8;
  display: block;
  margin-left: 84px;
  padding: 31px 15px 35px 77px;
  font-family: DINPro;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #252525;
  text-transform: uppercase; }

.order_step span {
  position: absolute;
  left: 0;
  top: 10px;
  width: 60px;
  height: 60px;
  font-family: DINPro;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  color: #64b357; }

.order_step span:after {
  content: '';
  display: block;
  width: 81px;
  height: 1px;
  background: #191919;
  position: absolute;
  right: -72px;
  top: 33px; }

.order_steps {
  margin-bottom: 120px; }



.p_order_delivery p {
  width: 461px;
  font-family: GothamPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #878787; }

.p_order_delivery {
  margin-bottom: 107px; }

.p_order_doc .button-white {
  line-height: 60px; }

.bl_catalog_filter {
  background: #f9f9f9;
  height: 90px; }

.bl_catalog_filter_left {
  margin: 0 420px 0 110px;
  padding-top: 37px; }

.bl_catalog_filter_left li {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px; }

.bl_catalog_filter_left li a {
  font-family: DINPro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #252525;
  text-decoration: none;
  text-transform: uppercase; }

.bl_catalog_filter_left li a:hover,
.bl_catalog_filter_left li a:active,
.bl_catalog_filter_left li.active a {
  color: #64b357; }

.bl_catalog_filter_right {
  float: right;
  width: 410px;
  border-left: 1px solid #d4d4d4;
  height: 90px;
  padding-top: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: right; }

.bl_filter_item {
  display: inline-block;
  vertical-align: middle; }

.bl_filter_item span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  font-family: DINPro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #252525; 
}

.bl_filter_item a.sort {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  font-family: DINPro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #252525; 
  text-decoration: none;
}

.bl_filter_item .sort {
  cursor: pointer;
  border: solid 1px #252525;
  font-family: DINPro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #252525;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding: 0 7px 0 12px; }

.bl_filter_item .sort::after {
  content: '';
  display: inline-block;
  vertical-align: baseline;
  margin-left: 3px;
  position: relative;
  bottom: -2px;
  width: 10px;
  height: 12px;
  background: url(./images/arrow_green.png) no-repeat 0 0; }

.bl_filter_item .sort.desc::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.bl_filter_item + .bl_filter_item {
  margin-left: 24px;
  margin-right: 10px; }

.bl_catalog_filter {
  margin-bottom: 50px; }

.catalog_header_text {
  float: right;
  width: 460px;
  margin-right: 110px;
  font-family: GothamPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #878787; }

.bl_products {
  clear: both;
  width: 940px;
  margin: 0 auto;
  padding-top: 110px;
  font-size: 0; }

.bl_product_item {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 54px; }

.bl_product_item:nth-child(3n+2) {
  margin: 0 20px; }

.bl_product_item_image {
  height: 300px;
  border: 1px solid #252525;
  display: block;
  position: relative;
  overflow: hidden; }

.bl_product_item_image img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%; }

.bl_product_item_descr {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: #fff;
  height: 300px;
  z-index: 9;
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.bl_product_item:hover .bl_product_item_descr {
  top: 0; }

.bl_product_item__buy {
  border-top: 1px solid #252525;
  background-color: #64b357;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: DINPro;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.bl_product_item_price {
  height: 58px;
  border: solid 1px #252525;
  border-top: 0;
  text-align: center;
  line-height: 58px;
  white-space: nowrap;
  display: block;
  font-family: DINPro;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #64b357; }

.bl_product_item_top a {
  text-decoration: none; }

.bl_product_item_name {
  text-align: center;
  font-family: DINPro;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  text-align: center;
  color: #252525;
  text-transform: uppercase; }

.bl_product_item_name a {
  text-decoration: none; }

.bl_product_item_top {
  margin: 0 0 25px 0; }

.bl_product_item_descr_tb {
  display: table;
  width: 100%;
  height: 100%; }

.bl_product_item_descr_td {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 80px; }

.bl_product_item_descr_td p {
  font-family: DINPro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: center;
  color: #252525;
  max-width: 230px;
  margin: 0 auto 45px auto; }

.bl_product_item_descr_td li {
  margin: 0;
  list-style: none;
  font-family: GothamPro;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  text-align: center;
  color: #878787; }

.bl_product_item_descr_td li b {
  font-weight: bold; }

.link_back_catalog a {
  height: 28px;
  border: solid 1px #252525;
  display: inline-block;
  line-height: 28px;
  padding: 0 10px 0 52px;
  text-transform: uppercase;
  font-family: DINPro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: #252525;
  text-decoration: none;
  position: relative; }

.link_back_catalog a:before {
  content: '';
  display: block;
  width: 25px;
  height: 8px;
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: url(./images/arrow_left.png) no-repeat; }

.one_product {
  padding-top: 110px;
  padding-left: 110px; }

.one_product_price {
  margin-right: 80px;
  font-family: DINPro;
  font-size: 60px;
  line-height: 1;
  color: #64b357;
  vertical-align: middle;
  position: relative;
  top: -3px; }

.one_product_price_buy a {
  min-width: 180px; }

.one_product_price_buy {
  margin-bottom: 109px; }

.one_product_char_header {
  font-family: DINPro;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #252525;
  margin-bottom: 62px; }

.one_product_char_header span {
  font-size: 15px; }

.one_product_char_item b {
  font-family: DINPro;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: rgba(37, 37, 37, 0.5);
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  text-transform: uppercase; }

.one_product_char_item span {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #252525;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: block; }

.one_product_char_item {
  float: left;
  width: 150px; }

.one_product_char_item + .one_product_char_item {
  border-left: 1px solid #dbdbdb; }

.one_product_tx {
  width: 540px; }

.one_product_char {
  margin-bottom: 115px; }

.one_product_tx_header {
  text-transform: uppercase;
  font-family: DINPro;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #252525;
  margin: 0 0 43px 0; }

.one_product_tx_c {
  font-family: GothamPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #878787; }

.bl_ind_cont {
  margin-top: 116px;
  /*padding-left: 110px; */
}

.bl_ind_cont p {
  font-family: GothamPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #878787; }

.bl_ind_cont img[align="right"] {
  margin-left: 110px; }

.bl_ind_cont {
  margin-bottom: 155px; }

.bl_purchase_terms {
  padding-left: 110px;
  padding-right: 110px; }

.bl_purchase_terms_btn {
  float: right; }

.bl_purchase_terms_cont_tx {
  margin-right: 250px;
  font-family: GothamPro;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #878787;
  border: solid 1px #252525;
  padding: 60px;
  position: relative; }

.bl_purchase_terms_cont_tx:before {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  left: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(75, 75, 75, 0), #252525);
  background-image: linear-gradient(to right, rgba(75, 75, 75, 0), #252525); }

.bl_purchase_terms_cont_tx:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 6px;
  right: 0;
  left: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(right, rgba(75, 75, 75, 0), #252525);
  background-image: linear-gradient(to left, rgba(75, 75, 75, 0), #252525); }

.bl_purchase_terms_btn .button, .bl_purchase_terms_btn .button-white {
  min-width: 180px; }

.bl_chose_days {
  float: right;
  width: 220px; }

.bl_menu_cont {
  margin-right: 250px; }

.bl_menu_container {
  padding: 0 110px; }

.bl_chose_days_header, .bl_menu_cont_header {
  font-family: DINPro;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #252525;
  text-transform: uppercase;
  margin-bottom: 60px; }

.bl_chose_days_btn .button, .bl_chose_days_btn .button-white {
  width: 100%;
  padding: 0;
  text-align: center; }

.bl_chose_days_c {
  will-change: transform;

  -webkit-transition: all 200ms ease 0ms;
  -moz-transition: all 200ms ease 0ms;
  -ms-transition: all 200ms ease 0ms;
  -o-transition: all 200ms ease 0ms;
  transition: all 200ms ease 0ms;
}

.bl_chose_days_c_bl {
  margin-bottom: 30px;
  border: solid 1px #252525; }

.bl_chose_days_c_top_days span {
  display: block;
  width: 33.333%;
  float: left;
  text-align: center;
  height: 29px;
  line-height: 29px;
  cursor: pointer;
  font-family: DINPro;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #252525;
  text-transform: uppercase;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: solid 1px #252525; }

.bl_chose_days_c_top_days span + span {
  border-left: solid 1px #252525; }

.bl_chose_days_c_top_days span.active {
  color: #fff;
  background-color: #64b357; }

.bl_chose_days_c_descr {
  border-top: solid 1px #252525;
  font-family: GothamPro;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #252525;
  position: relative;
  padding: 15px 15px 15px 30px; }

.bl_chose_days_c_bottom_price {
  border-top: solid 1px #252525;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-family: DINPro;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #64b357; }

.bl_chose_days_c_checkboxs {
  position: relative;
  padding: 24px 30px; }

.bl_menu_checkbox {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.bl_menu_checkbox input[type="checkbox"] {
  display: none; }

.bl_menu_checkbox input[type="checkbox"] + label span {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: solid 1px #979797;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 5px; }

.bl_menu_checkbox input[type="checkbox"]:checked + label span:after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #64b357;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.bl_menu_checkbox label {
  display: inline-block;
  font-family: GothamPro;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  color: #252525; }

.bl_menu_checkbox:after {
  content: '';
  display: block;
  clear: both; }

.bl_menu_checkbox label {
  width: 85px; }

.bl_menu_scroll {
  position: absolute;
  top: 54px;
  right: 48px;
  width: 7px;
  height: 108px;
  background: url(./images/scrollbar.png) no-repeat 0 0; }

.bl_menu_scroll_bar {
  margin-top: 12px;
  width: 7px;
  height: 84px; }

.bl_menu_scroll_t {
  width: 7px;
  height: 18px;
  background: url(./images/scrollbar_toggler.png) no-repeat 0 0;
  cursor: ns-resize;
  will-change: transform; }


.bl_menu_table {
  border: solid 1px #252525; }

.bl_menu_table_day {
  position: relative;
  min-height: 80px; }

.bl_menu_table_day + .bl_menu_table_day {
  border-top: solid 1px #252525; }

.bl_menu_table_day_data {
  position: absolute;
  top: -1px;
  left: -61px;
  width: 60px;
  height: 60px;
  background-color: #e3e3e3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 9px 11px;
  text-align: right;
  font-family: DINPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: #252525; }

.bl_menu_table_day_data span:first-child {
  font-family: DINPro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: #252525;
  display: block;
  margin: 0 0 8px 0; }

.bl_menu_table_day_data span:first-child b {
  font-size: 18px;
  font-weight: bold; }

.bl_menu_table_day_row + .bl_menu_table_day_row {
  border-top: 1px solid #dfdfdf; }

.bl_menu_table_day_row {
  position: relative;
  padding: 5px 0 5px 100px; }

.bl_menu_table_day_row_day {
  position: absolute;
  border-right: 1px solid #dfdfdf;
  left: 0;
  top: 0;
  bottom: 0;
  width: 68px; }

.bl_menu_table_day_row_col_time {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  font-family: GothamPro;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #878787; }

.bl_menu_table_day_row_col_cal {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  font-family: GothamPro;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  text-align: right;
  color: #878787; }

.bl_menu_table_day_row_col_cal p + p {
  margin-top: 6px; }

.bl_menu_table_day_row_col_name {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  font-family: GothamPro;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #252525; }

.bl_menu_table_day_row_col_name p + p {
  margin-top: 6px; }

.bl_menu_table_day_row_inner_item {
  padding: 12px 0; }

.bl_menu_table_day.active .bl_menu_table_day_data,
.bl_menu_table_day.active .bl_menu_table_day_data span:first-child {
  background-color: #64b357;
  color: white; }

@media screen and (max-width: 768px) {

}

.errors {
    color: #b36457;
    line-height: 20px;
    margin-bottom: 15px;
}

