.panel-tab .panel-handle {
    background: #ffffff !important;
    height: 220px !important;
    top: -1px !important;
    border: 1px solid #000000;
    border-right: none;
    text-indent: 0px !important;
    width: 64px;
    z-index: 2000;
}